.app-layout {
  height: 100vh;
  flex-direction: row;
  display: flex;
}

nz-content {
  margin: 24px;
}

.inner-content {
  overflow: auto;
  padding: 24px;
  background: #fff;
  height: 100%;
}

:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
  background: #001529;
}

.sidebar-logo {
  position: relative;
  height: 72px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 34px;
  background: #001529;
  transition: all .3s;
  margin-top:25px;

}

.sidebar-logo h1 {
  display: inline-block;
  margin: -54px 0 0 60px;
  color: #fff;
  line-height: 32px;

  font-size: 21px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

ul {
  list-style: none;
}

