<nz-layout class="app-layout">

  <nz-sider class="menu-sidebar" nzWidth="256px" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo mt-3">
      <h1 class="mt-3">KgPoc</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed"
        style="    color: rgba(255,255,255,0.65);">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter style="padding-left:0 !important;">
            <a routerLink="/customer/list">Customer</a>
          </li>
          <li nz-menu-item nzMatchRouter style="padding-left:0 !important;">
            <a routerLink="/log/list">Log</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-header style="background: transparent;">
      <i
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></i>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

  </nz-layout>
</nz-layout>
