<h2 class="text-uppercase">Logs</h2>
<form [formGroup]="logSearchForm" class="mt-3">
  <div class="row container">
    <label class="p-1 text-uppercase">Filters</label>
    <label for="id" class="ml-1">
      <input type="text" formControlName="id" id="id" name="id" class="form-control col" placeholder="Id">
    </label>
    <label for="methodName" class="ml-2">
      <input type="text" formControlName="methodName" id="methodName" name="methodName" class="form-control col"
             placeholder="MethodName">
    </label>
    <label for="instanceId" class="ml-2">
      <input type="text" formControlName="instanceId" id="instanceId" name="instanceId" class="form-control col"
             placeholder="InstanceId">
    </label>
    <label for="status" class="ml-2">
      <input type="text" formControlName="status" id="status" name="status" class="form-control col"
             placeholder="Status">
    </label>
    <div class="ml-3 mb-2 text-right d-flex">
      <div>
        <button class="btn btn-outline-primary" (click)="searchLog()">
          Search
        </button>
      </div>
      <div class="ml-2">
        <button class="btn btn-outline-primary" (click)="reset()">
          Reset
        </button>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <nz-table
      #tableComponent
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzData]="logs"
      [nzLoading]="loading"
      [nzTotal]="total"
      [(nzPageIndex)]="page"
      [(nzPageSize)]="size"
      (nzPageIndexChange)="getAllLogs()"
      (nzPageSizeChange)="getAllLogs(true)">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">MethodName</th>
        <th scope="col">Request</th>
        <th scope="col">Response</th>
        <th scope="col">InstanceId</th>
        <th scope="col">Status</th>
        <th scope="col">Time</th>
        <th scope="col">JSON Detail</th>
      </tr>
      </thead>
      <tbody>
      <ng-template ngFor let-log [ngForOf]="tableComponent.data">
        <tr>
          <td>{{log?.id}}</td>
          <td>{{log?.methodName}}</td>
          <td>{{log?.request}}</td>
          <td>{{log?.response}}</td>
          <td>{{log?.instanceId}}</td>
          <td>{{log?.status}}</td>
          <td>{{log?.time | date: 'dd/MM/yyyy hh:mm:ss.SS'}}</td>
          <td>
            <button nz-button [nzType]="'info'" [attr.id]="'edit-button-' + log.id" (click)="showModal(log)">
              <span>JSON</span>
            </button>
            <nz-modal [(nzVisible)]="isVisible" [nzTitle]="findLog?.id"
                      [nzStyle]="{ height: '400px'}"
                      (nzOnCancel)="handleCancel()"
                      (nzOnOk)="handleOk()">
              <json-editor [options]="options" [data]="findLog"></json-editor>
            </nz-modal>
          </td>
        </tr>
      </ng-template>
      </tbody>
    </nz-table>
  </div>
</form>
