<div class="container-fluid container-fixed-lg">
  <div class="row">
    <form [formGroup]="customerFormGroup" class="form-body">
      <div class="container">
        <div class="row px-0">
          <div class="col-md-12">
            <div class="form-group">
              <label class="font-weight-bold" for="tckn">TC Id *
                <input type="text" formControlName="tc" class="form-control" id="tckn" name="tckn"
                       autocomplete="off" required readonly>
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="cname" class="font-weight-bold">Name *
                <input type="text" formControlName="name" class="form-control" id="cname" name="cname"
                       autocomplete="off" required readonly>
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="csurname" class="font-weight-bold">Surname *
                <input type="text" formControlName="surname" class="form-control" id="csurname" name="csurname"
                       autocomplete="off" required readonly>
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="cbirthYear" class="font-weight-bold">BirthYear *
                <input type="text" formControlName="birthYear" class="form-control" id="cbirthYear" name="cbirthYear"
                       autocomplete="off" required readonly>
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="cmail" class="font-weight-bold">Mail *
                <input type="text" formControlName="email" class="form-control" id="cmail" name="cmail"
                       autocomplete="off" required>
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="phone" class="font-weight-bold">Phone *
                <input type="text" formControlName="phone" class="form-control" id="phone" name="phone"
                       autocomplete="off" required>
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="country" class="font-weight-bold">Country *
                <input type="text" formControlName="country" class="form-control" id="country" name="country"
                       autocomplete="off" required>
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="city" class="font-weight-bold">City *
                <input type="text" formControlName="city" class="form-control" id="city" name="city"
                       autocomplete="off" required>
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="street" class="font-weight-bold">Street *
                <input type="text" formControlName="street" class="form-control" id="street" name="street"
                       autocomplete="off" required>
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="postCode" class="font-weight-bold">PostCode *
                <input type="text" formControlName="postCode" class="form-control" id="postCode" name="postCode"
                       autocomplete="off" required>
              </label>
            </div>
          </div>
          <div class="col-md-12 text-right mb-4">
            <div class="form-group">
              <button class="btn btn-outline-primary btn-sm" (click)="save()">
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
